.postCard {
  border: 1px solid rgba(131, 131, 131, 0.309);
  margin: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postCard span {
  font-size: 15px;
}
.postCard span a {
  text-decoration: underline !important ;
  color: blue;
}
